<div class="conteiner">
  <div class="row">
    <div class="col-lg-12">
        <h3>Meet Scott Hathaway</h3>
        <h4>CEO & Founder, DUBAI LIFESTYLE APP</h4>
        <div class="photofounder">
          <img src="../../../assets/images/Photofounder.png">
        </div>
        <div class="aboutfirm">
          <p>If you haven't yet heard, the <b> DUBAI LIFESTYLE APP</b> has just launched internationally</p>
          <p>and we are looking for <b class="color"> 100 beta testers </b>to make a profits of over</p>
          <h1>7000$ a day</h1>
          <p class="seevideo">Watch the video now to see how to can join us - <b> FREE </b></p>
        </div>
        <div class="imageteam">
            <img src="../../../assets/images/team.jpg">
            <figcaption> <i>Your Friends,</i></figcaption>
            <p>The DUBAI LIFESTYLE APP Team</p>
        </div>
        <hr>
                      <h1 class="what">What People Are Saying</h1>
        <div class="comment">
          <div class="justcomment">
            <p>By <span>Lincoln Tremlin</span> on April 10 2016 <img src="../../../assets/images/star.png"><img src="../../../assets/images/star.png"><img src="../../../assets/images/star.png"><img src="../../../assets/images/star.png"><img src="../../../assets/images/star.png"></p>
            <P class="verified">Verified Member</P>
            <p class="review">For the past 3 years,I tried everything you could imagine to profit online. But I was scammed every single time. This was my last shot. And I couldn’t be happier to announce that I made my first $6,839.23 online!</p>
          </div>
          <div class="justcomment">
              <p>By <span>Liam Nelson</span> on May 28 2016 <img src="../../../assets/images/star.png"><img src="../../../assets/images/star.png"><img src="../../../assets/images/star.png"><img src="../../../assets/images/star.png"><img src="../../../assets/images/Semi.png"></p>
              <P class="verified">Verified Member</P>
              <p class="review">I made $11,958.31 in my first 72 hours after activating the software. This is the first time I ever made any money online!</p>
            </div>
            <div class="justcomment">
                <p>By <span>Mark Jones</span> on June 02 2016 <img src="../../../assets/images/star.png"><img src="../../../assets/images/star.png"><img src="../../../assets/images/star.png"><img src="../../../assets/images/star.png"><img src="../../../assets/images/star.png"></p>
                <P class="verified">Verified Member</P>
                <p class="review">Get the Dubai Lifestyle App now so you can finally get out of the rat race and start living the life you always wanted!</p>
              </div>
              <div class="justcomment">
                  <p>By <span>Carrie McIntosh </span> on June 14 2016 <img src="../../../assets/images/star.png"><img src="../../../assets/images/star.png"><img src="../../../assets/images/star.png"><img src="../../../assets/images/star.png"><img src="../../../assets/images/empty.png"></p>
                  <P class="verified">Verified Member</P>
                  <p class="review">Unbelievable! I just paid off my $37,000 student debt after only 2 weeks of using the Dubai Lifestyle App!</p>
                </div>
                <div class="justcomment">
                    <p>By <span>Lawrence Wallace  </span> on June 14 2016 <img src="../../../assets/images/star.png"><img src="../../../assets/images/star.png"><img src="../../../assets/images/star.png"><img src="../../../assets/images/star.png"><img src="../../../assets/images/Semi.png"></p>
                    <P class="verified">Verified Member</P>
                    <p class="review">Didn’t think it was possible that I could ever make a dime online. But within 48 hours, I made my first $11,902.8</p>
                  </div>
                  <div class="justcomment">
                      <p>By <span>Frederick Lam   </span> on June 14 2016 <img src="../../../assets/images/star.png"><img src="../../../assets/images/star.png"><img src="../../../assets/images/star.png"><img src="../../../assets/images/star.png"><img src="../../../assets/images/star.png"></p>
                      <P class="verified">Verified Member</P>
                      <p class="review">I deposited $250 and in 37 minutes, I made my investment back plus made a $701 profit! The Dubai Lifestyle App gives an unreal return on investment that I couldn’t get anywhere else.</p>
                    </div>
                    <div class="justcomment">
                        <p>By <span>Frederick Lam   </span> on June 14 2016 <img src="../../../assets/images/star.png"><img src="../../../assets/images/star.png"><img src="../../../assets/images/star.png"><img src="../../../assets/images/star.png"><img src="../../../assets/images/empty.png"></p>
                        <P class="verified">Verified Member</P>
                        <p class="review">I deposited $250 and in 37 minutes, I made my investment back plus made a $701 profit! The Dubai Lifestyle App gives an unreal return on investment that I couldn’t get anywhere else.</p>
                      </div>
                      <div class="justcomment">
                          <p>By <span>Mohammed Singh    </span> on June 14 2016 <img src="../../../assets/images/star.png"><img src="../../../assets/images/star.png"><img src="../../../assets/images/star.png"><img src="../../../assets/images/star.png"><img src="../../../assets/images/star.png"></p>
                          <P class="verified">Verified Member</P>
                          <p class="review">Why bother investing your hard-earned money anywhere else? The Dubai Lifestyle App is the REAL deal.</p>
                        </div>
                        <div class="justcomment">
                            <p>By <span>Dan Nottingham    </span> on June 14 2016 <img src="../../../assets/images/star.png"><img src="../../../assets/images/star.png"><img src="../../../assets/images/star.png"><img src="../../../assets/images/star.png"><img src="../../../assets/images/Semi.png"></p>
                            <P class="verified">Verified Member</P>
                            <p class="review">Thanks to the Dubai Lifestyle App, I’m making a 6-figure income for the first time in my life. It’s crazy to believe that I started off with just $250 and now I’m profiting $23,103.43 every week.</p>
                          </div>
                          <div class="justcomment">
                              <p>By <span>Charles Missoni    </span> on June 14 2016 <img src="../../../assets/images/star.png"><img src="../../../assets/images/star.png"><img src="../../../assets/images/star.png"><img src="../../../assets/images/star.png"><img src="../../../assets/images/empty.png"></p>
                              <P class="verified">Verified Member</P>
                              <p class="review">What's insane is that this really does work! It’s 3 AM right now and I’ve already made $1123.80 in just 34 minutes.</p>
                            </div>
                            <div class="justcomment">
                                <p>By <span>Cameron Met     </span> on June 14 2016 <img src="../../../assets/images/star.png"><img src="../../../assets/images/star.png"><img src="../../../assets/images/star.png"><img src="../../../assets/images/star.png"><img src="../../../assets/images/star.png"></p>
                                <P class="verified">Verified Member</P>
                                <p class="review">The Dubai Lifestyle App gave me the money I needed to take my wife on the dream honeymoon we never had. The best part is I kept making money even while we were enjoying our honeymoon!</p>
                              </div>
                              <div class="justcomment">
                                  <p>By <span>Andrey Ricovski      </span> on June 14 2016 <img src="../../../assets/images/star.png"><img src="../../../assets/images/star.png"><img src="../../../assets/images/star.png"><img src="../../../assets/images/star.png"><img src="../../../assets/images/star.png"></p>
                                  <P class="verified">Verified Member</P>
                                  <p class="review">The Dubai Lifestyle App changes people’s lives every minute. Will you be next?</p>
                                </div>
                      

        </div>
    </div>

  </div>

</div>
