#main{
    width: 100%;
    height: 1120px;
    background-image:url(/assets/images/timer.png), url(/assets/images/main.png);
    background-position:top right,center;
    background-repeat: no-repeat, no-repeat;
    background-size:  2213px 78px,2213px 1120px,;
   
}
.timerleft{
    float: left;
    margin:20px 200px 15px 10px;
}
.logo img{
    margin:20px auto 15px 5%;
    position: relative;
}
.text{
    text-align: inherit;
    margin: 60px 0 0 26%;
    width: auto;
    height: auto;
    
}
.secondrow{
    margin-left: 50px;
}
.text strong{
    text-align: center;
    font-family: 'Khand', sans-serif;
    color: white;
    font-size: 42px;
    font-weight: 900;
    text-shadow: 0px 0px 10px white,0 0 1em white;
    
}
.text p{
    font-family: 'Khand', sans-serif;
    color: white;
    font-size: 42px;
    text-shadow: 0px 0px 7px white,0 0 1em white;
    line-height: 30px;
    word-spacing:5px;
    
}
.video{
    width: 60%;
    height: 40%;
    background-color: black;
    text-align: center;
    left: 15%;
    position: relative;
    margin-top: 30px;
}
.forms{
    margin:25px auto auto 100px;
    position: relative;

}
input{
    width: 66%;
    height: 70px;
    margin-right: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
 
}
.submit{
    width: 64%;
    height: 135px;
    margin: 30px 0 0 9%;
    background-color: rgb(255, 174,0);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 10px solid rgba(white, 0.3);
}
.alert {
    width: 430px;
    height: auto;
    clear: both;
}
.name{
    margin-left: 17%;
    
}
.mail{
    margin-left: -20%;
}
.submit .button{
    font-family: 'Khand', sans-serif;
    font-size: 80px;
    font-weight: 900;
    letter-spacing: 4px;
    margin-top: 10px;
}
.respect{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    color: white;
    text-align: center;
    margin-top: 25px;
    margin-left: -80px;
}
.logos{
    margin-left: 18%;
    margin-top:15px;
}
::placeholder{
    font-family:'Roboto Condensed', sans-serif;
    font-size: 18px;
    color: black;
}
/* menu collapseble */
body {
    font-family: 'Arimo', sans-serif;
    padding-top: 50px;
}

.menu-bar {
    position: absolute;
    top: 20px;    
    left: 50%;
    height: 14px;
    margin-left: -10px;
}

.bars {
    display: block;
    width: 20px;
    height: 3px;    
    background-color: #333;
    box-shadow: 0 5px 0 #333, 0 10px 0 #333;
}

.menu {
    display: none; 
    width: 100%;
    padding: 30px 10px 50px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
}
.menu ul {
    margin-bottom: 0;
}
.navbar-nav li a{
    color:black !important;
}
.navbar-nav li a:hover{
    color:white !important;
}
.navbar-nav{
    display: inline-flex !important;
}
.menu a {
    color: rgb(15, 15, 15); 
    text-transform: uppercase;
    opacity: 0.8;
}
.menu a:hover {
    text-decoration: none;
    opacity: 1;
}
.navbar{
  display: none;  
}

@media (min-width: 575.98px) and (max-width:767.98px) { 
    .timerleft{
        display: none;
    }
    .logo img{
        margin-left: 5%;
       }
       .submit .button{
        font-family: 'Khand', sans-serif;
        font-size: 30px;
        font-weight: 400;
        letter-spacing: 1px;
        margin-top: 5px;
    }
    .text{
        text-align: inherit;
        margin: auto 0 0 26%;
        width: auto;
        height: auto;
        
    }
    .secondrow{
        margin-left: 20px;
    }
    .navbar{
         display: inline;
    }
    .text strong{
        text-align: center;
        font-family: 'Khand', sans-serif;
        color: white;
        font-size: 20px;
        font-weight: 500;
        text-shadow: 0px 0px 10px white,0 0 1em white;
        
    }
    .text p{
        font-family: 'Khand', sans-serif;
        color: white;
        font-size: 20px;
        text-shadow: 0px 0px 7px white,0 0 1em white;
        line-height: 30px;
        word-spacing:2px;
        
    }
    .forms{
        margin-left: 5%;
    }
    .logos{
            margin-left: 12%;
            margin-top:15px;
        
    }
    .logos img{
        width:70%;
        height: auto;
       
    }
    #main{
        background-image:url(/assets/images/main.png);
    }
 }


@media (min-width: 767.98px) and (max-width:991.98px){ 
    .timerleft{
        display: none;
    }
    .logo{
        margin-left: 15%;
    }
   .submit .button{
    font-family: 'Khand', sans-serif;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 5px;
}
.text{
    text-align: inherit;
    margin: auto 0 0 26%;
    width: auto;
    height: auto;
    
}
.secondrow{
    margin-left: 20px;
}
.text strong{
    text-align: center;
    font-family: 'Khand', sans-serif;
    color: white;
    font-size: 30px;
    font-weight: 7;
    text-shadow: 0px 0px 10px white,0 0 1em white;
    
}
.text p{
    font-family: 'Khand', sans-serif;
    color: white;
    font-size: 30px;
    text-shadow: 0px 0px 7px white,0 0 1em white;
    line-height: 30px;
    word-spacing:2px;
    
}
.forms{
    margin-left: 5%;
}
.logos{
        margin-left: 12%;
        margin-top:15px;
    
}
.logos img{
    width:70%;
    height: auto;
    
}
#main{
    background-image:url(/assets/images/main.png);
}
 }


@media (min-width: 991.98px) and (max-width:1199.98px) { 
 .timerleft{
     display: none;
 }
 .logo{
    margin-left: 12%;
}
   .submit .button{
    font-family: 'Khand', sans-serif;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 3px;
    margin-top: 5px;
}
.text{
    text-align: inherit;
    margin: 5% 0 0 15%;
    width: auto;
    height: auto;
    
}
.secondrow{
    margin-left: 50px;
}
.text strong{
    text-align: center;
    font-family: 'Khand', sans-serif;
    color: white;
    font-size: 50px;
    font-weight: 700;
    text-shadow: 0px 0px 10px white,0 0 1em white;
    
}
.text p{
    font-family: 'Khand', sans-serif;
    color: white;
    font-size: 50px;
    text-shadow: 0px 0px 7px white,0 0 1em white;
    line-height: 30px;
    word-spacing:3px;
    
}
.forms{
    margin-left: 6%;
}
.logos{
        margin-left: 12%;
        margin-top:15px;
}
.logos img{
    width:70%;
    height: auto;
}
.name{
    margin-left: 17%;
}
.mail{
    margin-left: -20%;
}
}


@media (min-width: 1199.98px) { 
    .timerleft{
        display: inherit;
    }
    .logo img{
        margin:20px auto 15px -2%;
        position: relative;
    }
    
 }